<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.opencontent.android.ocparchitn"
    android:versionCode="1"
    android:versionName="0.1" >
    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    
    <uses-feature android:name="android.hardware.nfc" android:required="true"/>
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <service android:name=".services.SOAPService" />
        
        <activity 
            android:name=".activities.MainMeuFragment"
            />

        <activity
            android:name=".activities.MainActivity"
          	android:theme="@android:style/Theme.Holo"
            android:label="@string/title_activity_main" 
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
				<data android:host="struttura"></data>
				<data android:scheme="parchi"></data>
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_filters"/>
        </activity>
        
        <activity
            android:name=".activities.CameraActivity"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="it.opencontent.android.ocparchitn.intents.TAKE_SNAPSHOT"></action>
            </intent-filter>
        </activity>
        
        <activity android:name=".activities.SettingsActivity">
            
        </activity>
        <activity android:name=".activities.RendicontazioneActivity">
            
        </activity>
        <activity android:name=".activities.SpostamentoActivity">
            
        </activity>
        <activity android:name=".activities.RilevazioneActivity">
            
        </activity>
        <activity android:name=".activities.AttivitaPeriodicaActivity">
            
        </activity>
        <activity android:name=".activities.SynchroSoapActivity" android:theme="@style/Theme.Transparent">
            
        </activity>
        
    </application>

</manifest>
